.blog--rtl {
  direction: rtl;
}

.blog__posts {
  list-style: none;
  padding: 0;
}

.blog__post {
  padding: 1rem 0;
}

.blog__post-title {
  font-size: 2.2rem;
}

.blog__post-title:hover {
  color: var(--color-link);
  transition: color var(--transition-delay);
}

.blog__post-date {
  color: gray;
  font-size: 0.9em;
}