.homepage {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.homepage__avatar {
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.homepage__avatar img {
  height: 12.8rem;
  width: 12.8rem;
}

.homepage__headline {
  font-weight: 400;
  margin: 30px 0px 0px 0px;
}

.homepage__social-icons {
  display: flex;
  font-size: 2.4rem;
  justify-content: center;
}

.homepage__social-icons a {
  border-bottom: none;
}