:root {
  --body-color: #333;
  --body-bg-color: #fff;
  --font-arabic-heading: Dubai;
  --font-arabic-body: Dubai;
  --color-link: #009fff;
  --transition-delay: 0.4s;
}

@font-face {
  font-family: "Dubai";
  src: url("/font/dubai-regular.ttf") format("truetype");
}

.arabic {
  direction: rtl;
  font-family: var(--font-arabic-body);
}

h1 {
  font-size: calc(2rem + 0.6vw);
}

a {
  color: var(--body-color);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--body-bg-color);
  color: var(--body-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: 720px;
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  align-items: center;
  display: flex;
}

.header__logo img {
  max-width: 13rem;
  max-height: 5rem;
}

.navbar ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar li {
  padding: 1rem 0 1rem 2rem;
}

.navbar a {
  font-weight: 600;
}

.navbar a:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
}

main {
  flex: 1;
}