---
layout: 'layout.njk'
title: المدونة العربية
---
{% block css %}
<link rel="stylesheet" href="/css/blog.css">
{% endblock %}

<section class="blog blog--rtl arabic">
  <h1 class="blog__heading">المدونة العربية</h1>
  <ul class="blog__posts">
    {% for post in collections.arabicPost | reverse %}
      <li class="blog__post">
        <a class="blog__post-title" href="{{post.url}}">{{post.data.title}}</a>
        <div class="blog__post-date">{{post.date | formatArabicDate }}</div>
      </li>
    {% endfor %}
  </ul>
</section>