---
layout: 'layout.njk'
---

<section class="blog">
  <h1>Blog</h1>
  <ul>
    {% for post in collections.post%}
      <li>
        <a href="{{post.url}}">{{post.data.title}}</a>
        <small>{{post.date}}</small>
      </li>
    {% endfor %}
  </ul>
</section>