---
layout: 'layout.njk'
title: Blog
---
{% block css %}
<link rel="stylesheet" href="/css/blog.css">
{% endblock %}

<section class="blog">
  <h1 class="blog__heading">Blog</h1>
  <ul class="blog__posts">
    {% for post in collections.post | reverse %}
      <li class="blog__post">
        <a class="blog__post-title" href="{{post.url}}">{{post.data.title}}</a>
        <div class="blog__post-date">{{post.date | formatDate }}</div>
      </li>
    {% endfor %}
  </ul>
</section>