---
layout: 'layout.njk'
---

{% block css %}
<link rel="stylesheet" href="/css/index.css">
{% endblock %}

<div class="homepage">
  <div class="homepage__avatar">
    <img src="/img/avatar.jpg" alt="avatar image">
  </div>

  <h1 class="homepage__headline">Abdelaziz Mokhnache</h1>
  <p class="homepage__description">about me</p>

  <div class="homepage__social-icons">
    social icons
  </div>
</div>