---
layout: 'layout.njk'
---

{% block css %}
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/fontello.css">
{% endblock %}

<div class="homepage">
  <div class="homepage__avatar">
    <img src="/img/avatar.jpg" alt="avatar image">
  </div>

  <h1 class="homepage__headline">Abdelaziz Mokhnache</h1>
  <p class="homepage__description">
    PhD Student & Fullstack Javascript Developer
  </p>

  <div class="homepage__social-icons">
    <a href="https://www.facebook.com/abdelazizmokhnache">
      <i class="icon-facebook-official"></i>
    </a>
    <a href="https://www.twitter.com/abdelaziz18003">
      <i class="icon-twitter"></i>
    </a>
    <a href="https://dz.linkedin.com/in/abdelaziz18003">
      <i class="icon-linkedin"></i>
    </a>
    <a href="https://www.youtube.com/channel/UCGk9BKT15Twd5MmC32bEMBA">
      <i class="icon-youtube"></i>
    </a>
    <a href="https://www.github.com/abdelaziz18003/">
      <i class="icon-github"></i>
    </a>
    <a href="https://www.bitbucket.com/abdelaziz18003/">
      <i class="icon-bitbucket"></i>
    </a>
    <a href="https://stackoverflow.com/users/5192846/abdelaziz-mokhnache">
      <i class="icon-stackoverflow"></i>
    </a>
  </div>
</div>