---
layout: 'layout.njk'
title: PhD in Electronics, Software Engineer & FOSS Enthusiast
---

{% block css %}
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/fontello.css">
{% endblock %}

<div class="homepage">
  <div class="homepage__avatar">
    <img src="/img/avatar.jpg" alt="avatar image">
  </div>

  <h1 class="homepage__headline">Abdelaziz Mokhnache</h1>
  <p class="homepage__description">
    PhD in Electronics, Software Engineer & FOSS Enthusiast
  </p>

  <div class="homepage__social-icons">
    <a href="https://www.facebook.com/abdelazizmokhnache" target="_blank">
      <i class="icon-facebook-official"></i>
    </a>
    <a href="https://www.twitter.com/abdelaziz18003" target="_blank">
      <i class="icon-twitter"></i>
    </a>
    <a href="https://scholar.google.com/citations?user=Svi0GkMAAAAJ" target="_blank">
      <img src="/img/googlescholar.svg" alt="Google Scholar" class="homepage__social-icon">
    </a>
    <a href="https://www.researchgate.net/profile/Abdelaziz-Mokhnache-2" target="_blank">
      <img src="/img/researchgate.svg" alt="Google Scholar" class="homepage__social-icon">
    </a>
    <a href="https://dz.linkedin.com/in/abdelaziz18003" target="_blank">
      <i class="icon-linkedin"></i>
    </a>
    <a href="https://www.youtube.com/channel/UCGk9BKT15Twd5MmC32bEMBA" target="_blank">
      <i class="icon-youtube"></i>
    </a>
    <a href="https://www.github.com/abdelaziz18003/" target="_blank">
      <i class="icon-github"></i>
    </a>
    <a href="https://stackoverflow.com/users/5192846/abdelaziz-mokhnache" target="_blank">
      <i class="icon-stackoverflow"></i>
    </a>
  </div>
</div>