<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Abdelaziz Mokhnache | {{ title }}</title>

    <!-- OG tags -->
    <meta property="og:title" content="og title" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="og url" />
    <meta property="og:description" content="og description" />
    <meta property="og:image" content="og image" />

    <link rel="stylesheet" href="/css/style.css">

    <link rel="shortcut icon" href="/img/favicon.png">

    {% block css %}
    {% endblock %}
  </head>

  <body>
    <div class="container">
      <header class="header">
        <div class="header__logo">
          <a href="/">
            <img src="/img/logo.png" alt="logo">
          </a>
        </div>
        <nav class="navbar">
          <ul>
              <li><a href="/blog">blog</a></li>
              <li><a href="/arabic" class="arabic">المدونة العربية</a></li>
          </ul>
        </nav>
      </header>
      <main>
        {% block main %}
        {{ content | safe }}
        {% endblock %}
      </main>
    </div>

    {% block scripts %}
    {% endblock %}
  </body>
</html>