<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }} | Abdelaziz Mokhnache</title>

    <!-- OG tags -->
    <meta property="og:title" content="{{ title }} | Abdelaziz Mokhnache" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="/" />
    <meta
      property="og:description"
      content="{{description if description else title}}"
    />
    <meta property="og:image" content="/img/logo-sm.png" />

    <link rel="stylesheet" href="/css/style.css">

    <link rel="shortcut icon" href="/img/favicon.png">

    {% block css %}
    {% endblock %}
  </head>

  <body>
    <div class="container">
      <header class="header">
        <div class="header__logo">
          <a href="/">
            <img src="/img/logo.png" alt="logo">
          </a>
        </div>
        <nav class="navbar">
          <ul>
              <li><a href="/blog">blog</a></li>
              <li><a href="/arabic" class="arabic">المدونة العربية</a></li>
          </ul>
        </nav>
      </header>
      <main>
        {% block main %}
        {{ content | safe }}
        {% endblock %}
      </main>
    </div>

    {% block scripts %}
    {% endblock %}
    
    {# google analytics #}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-131006931-1', 'auto');
    ga('send', 'pageview');
    </script>
  </body>
</html>