{% extends 'layout.njk' %}

{% block css %}
  <link
    rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/default.min.css"
  >
{% endblock %}

<div class="post">
  <h1>page title</h1>

  <!-- article info -->
  <div class="row items-center">
    <small>Published date</small>
    <small class="ml-lg">reading time</small>
  </div>

  <!-- article content -->
  {% block main %}
    <h1>{{title}}</h1>
    <article>{{ content | safe }}</article>
  {% endblock %}
</div>

{% block scripts %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js">
  </script>
  <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}