{% extends 'layout.njk' %}

{% block css %}
<link rel="stylesheet" href="/css/post.css">
  <link
    rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/default.min.css"
  >
{% endblock %}

<!-- article content -->
{% block main %}
  <div class="post {% if rtl %} post--rtl arabic {% endif %}">
    <h1 class="post__title">{{title}}</h1>
    <article class="post__content">{{ content | safe }}</article>
  </div>
{% endblock %}

{% block scripts %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js">
  </script>
  <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}